<div>
    <a href="{{ url('customer_login')}}">
        <i class="material-icons">person</i>
        Login/Signup
    </a>
    <a href="{{ url('customer_logout') }}">
        Logout
    </a>
   

</div>
