{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <div class="row" id="booking">
        <div class="col-md-4">
            {% for shop in shops %}
                <div class="card booking-shop" data-url="{{ url('load_service',{id:shop.id}) }}">
                    {#<img class="card-img-top" src="..." alt="Card image cap">#}
                    <div class="card-body">
                        <h5 class="card-title">{{ shop.Name }}</h5>
                        <p class="card-text">{{ shop.Description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-4" id="shop-products"></div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}
