{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <h1>Change Password</h1>
    {# {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %} #}
    {# <button type="submit" class="btn btn-primary">Update</button> #}
    
    {{ form_start(changePasswordForm) }}
    <a style="width: 90px"class="btn btn-danger" href="{{ url('customer') }}" class="btn btn-outline-primary">
    Go back
    </a>
    <button type="submit" class="btn btn-primary">Update</button>
    
    {{ form_end(changePasswordForm) }}
    
{% endblock %}