{% extends 'base.html.twig' %}

{% block title %}Customer{% endblock %}

{% block content %}
    <div class="container">
        <ul>
            <li><a href="{{ url('customer_edit_profile') }}"><i class="material-icons">people</i> Edit Profile</a></li>
            <li><a href="#"><i class="material-icons">history</i> Edit Profile</a></li>
            <li><a href="#"><i class="material-icons">book_online</i> Appointment</a></li>
            <li><a href="{{ url('customer_logout') }}"><i class="material-icons">logout</i> Logout</a></li>
        </ul>
    </div>
{% endblock %}
