{% extends 'base.html.twig' %}

{% block title %}Customer{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-3"> 
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">
                            <a href="{{ url('customer_edit_profile') }}" "><i class="material-icons">people</i> Edit Profile</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <a href="#"><i class="material-icons">history</i> Histories</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <a href="#"><i class="material-icons">book_online</i> Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
