@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
@import "../../node_modules/jquery-ui/themes/base/all.css";
@import "./components/owl.carousel.min.css";
@import "./components/owl.theme.default.min.css";

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction:  $direction;
}

$primary-color: #272728;

body 
{

    background:
        linear-gradient(
        rgba($primary-color, 0.1),
        rgba($primary-color, 0.1)
        ), url('../images/background-image.jpg') no-repeat center top;

}



a {
    text-decoration: none;
    font-size: 1.3rem;
}

.editprofile-page{
    margin: 1.5em;
    font-family: 'Poppins', sans-serif;

    @include flexCenter(row-reverse);
    display: flex;
    flex-direction: row-reverse;
    background: linear-gradient(
        rgba($primary-color, 0.2),
        rgba($primary-color, 0.2)
        ),  url('../images/image1.jpg') no-repeat center top;

    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.editprofile-block {
    display: inline-block;
    text-decoration-color: black;
    text-decoration: bold;
    textarea {
        width: 700px;
    }

}

.registerpage-block {

    margin: 1.5em;
    font-family: 'Poppins', sans-serif;

    @include flexCenter(row-reverse);
    display: flex;
    flex-direction: row-reverse;
    background: linear-gradient(
        rgba($primary-color, 0.2),
        rgba($primary-color, 0.2)
        ),  url('../images/image2.jpg') no-repeat center top;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: inline-block;
    text-decoration-color: rgb(12, 10, 10);
    text-decoration: bold;
    textarea {
        width: 700px;
    }
}

.card-body{
    overflow-x: hidden;
    img{
        width: 100%;
    }
}
#homepage-content{
    #carouselExampleSlidesOnly{

        .carousel-item{
            img{
                width: 100%;
                
                border-radius: 15px;
                max-width: 700px;
            }
        }
    }

}
.logo{
    width: 50px;
}
.header-container{
    .nav{
        float:right;
    }
}
.card {
    &.booking-shop,&.shop-service,&.shop-available-time{
        margin-bottom: 10px;
        .card-body{
            padding:5px 10px;
            position: relative;
            input[type="radio"]{
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
            }
        }
        &.active{
            background: #0288d1;
            color: #fff;
        }
    }
}
#login-page{
    form{
        max-width: 600px;
    }
}
#confirm-form{
    max-width: 600px;
}